In [1]:
import mysql.connector as connector

# Task One

In [2]:
try:
    connection = connector.connect(user="root", password="*********")
    print("Connection between MySQL and Python is established.\n")
except connector.Error as er: 
    print("Error code:", er.errno) 
    print("Error message:", er.msg)

Connection between MySQL and Python is established.

In [3]:
cursor = connection.cursor()
cursor.execute("USE LittleLemonDM;")

# Task two

In [4]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)

[('Bookings',), ('Customer',), ('DeliveryStatus',), ('Menu',), ('MenuItem',), ('Orders',), ('ordersview',), ('Staff',)]

# Task three

In [5]:
query = """
SELECT C.name, C.phone, C.email,O.cost
FROM Orders O
LEFT JOIN Customer C on C.customerID = O.customerID
WHERE O.cost > 60
ORDER BY O.cost DESC;
"""
cursor.execute(query)
result = cursor.fetchall()
col_name = cursor.column_names
print(col_name)
for i in result:
    print(i)

('name', 'phone', 'email', 'cost')
('Jane Murphy', 351567243, None, Decimal('500'))
('Takashi Ito', 351786345, None, Decimal('250'))

In [6]:
cursor.close()
connection.close()